<% title "Request Section" %>

<strong><%= @request_section.request.name %></strong>
(<em><%= @request_section.section.name %></em>)
<ul>
  <% for item in @request_section.section_items %>
    <li><%= item.name %></li>
  <% end -%>
</ul>

<%= link_to "Agregar item", new_request_request_section_section_item_path(@request, @request_section) %>
