body {
  background-color: #039487;
  font: 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
  color: #6D929B;
  letter-spacing: 2px; 
  font-size: 14px;
}

h1 {
  font: oblique bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
  color: #6D929B;
  text-transform: uppercase; 
  font-size: 28px;
  text-align: center;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 75%;
  margin: 0 auto;
  background-color: #ACDEDB;
  padding: 20px 40px;
  border: solid 1px black;
  margin-top: 20px;
}

#flash_notice, #flash_error, #flash_alert {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

/* TABLES */
th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA;
}

th.nobg {
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
	background: none;
}

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}


td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

/* NAVIGATION */
div#user-nav {
	float: right;
}

/* RFP SHOW */

div#general-info {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	width: 30%;
	margin: 8px;
	background-color: #E8D99E;
}

div#general-info div {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #FFF;
	padding: 5px;
	margin: 3px;
}

div#rfp-status {
	float: right;
	width: 60%;
}

div.role-score {
	float: right;
}

div.role-score {
	border-style: solid;
	font-size: 20px;
}

div#accept, div#reject {
	float: left;
	margin: 3px;
	padding: 1px;
	width: 45%;
	border-style: solid;
}

div.user-accept, div.user-reject {
	-moz-border-radius: 6px;	
	-webkit-border-radius: 6px;
	padding: 6px;
	margin: 2px;
}

div.user-accept {
	background-color: #55D8BB;
}

div.user-reject {
	background-color: #E33F53;
}

div#sections li a {
	margin-left: 2px;
	font-size: 8px;
}

div#user-info{
	margin-right: 30%;
	float: left;
}


