<% title "Seccion" %>

<p>
  <strong>Nombre:</strong>
  <%= @section.name %>
</p>

<p>
  <%= link_to "Editar", edit_section_path(@section) %> |
  <%= link_to "Eliminar", @section, :confirm => '¿Está seguro?', :method => :delete %> |
  <%= link_to "Ver todas", sections_path %>
</p>
