<% title "#{@section_role.request_section.request.name} "%>
<h2><%= "#{@section_role.request_section.section.name}" %></h2>

<p><strong>Puntaje: </strong><%= @section_role.average %></p>

<p><em>¿Apoya este RFP?</em></p>
